{% load cms_tags sekizai_tags %}

{% block meta %}
    {% comment %}
    This is needed if you can't add ``{% include "meta/meta.html" %}`` in the django CMS template attached to the blog
    page or if you use djangocms-page-meta.

    Please check the documentation at https://djangocms-blog.readthedocs.io/en/latest/features/meta.html for more
    details about the correct template configuration for social media tags rendering.
    {% endcomment %}
    {% if meta %}
        {% include "meta/meta.html" %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta %}


<html>
  <head>
    <title>{% page_attribute "page_title" %}</title>
    {% render_block "css" %}
  </head>
  <body>

    <div class="app app-blog">
        {% cms_toolbar %}
         {% render_placeholder content %} 
         {% render_block "js" %}

        {% block content_blog %}{% endblock %}
    </div>
  </body>
</html>


